* {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

.image {
  margin-top: 50px;
  height: 50vh;
  background-image: url("../../images/image5.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.logo {
  width: 50px;
  height: 50px;
}

.text {
  padding: 100px 600px 100px 100px;
  text-shadow: 8px 8px 10px white;
  font-style: italic;
}
.cards {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
}
.cardItem {
  margin: 10px 20px 10px 20px;
  background-color: #f4f9f9;
  box-shadow: 5px 5px 10px skyblue;
}
@media screen and (max-width: 1075px) {
  .text {
    padding: 50px 10px 50px 50px;
    font-size: 30px;
  }
}
@media screen and (max-width: 580px) {
  .cardItem {
    width: 500px;
  }
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
